<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.clouddisk.mapper.AdminMapper">

    <resultMap id="BaseResultMap" type="com.example.clouddisk.entity.Admin">
            <id property="adminid" column="adminid" jdbcType="VARCHAR"/>
            <result property="adminname" column="adminname" jdbcType="VARCHAR"/>
            <result property="passwd" column="passwd" jdbcType="VARCHAR"/>
            <result property="adminphone" column="adminphone" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        adminid,adminname,passwd,
        adminphone
    </sql>
</mapper>
