<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.clouddisk.mapper.DocshareMapper">

    <resultMap id="BaseResultMap" type="com.example.clouddisk.entity.Docshare">
            <id property="shareid" column="shareid" jdbcType="INTEGER"/>
            <result property="userid" column="userid" jdbcType="VARCHAR"/>
            <result property="docid" column="docid" jdbcType="VARCHAR"/>
            <result property="docplace" column="docplace" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        shareid,userid,docid,
        docplace
    </sql>
</mapper>
