<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.clouddisk.mapper.OpMapper">

    <resultMap id="BaseResultMap" type="com.example.clouddisk.entity.Op">
            <id property="opid" column="opid" jdbcType="VARCHAR"/>
            <result property="oprole" column="oprole" jdbcType="VARCHAR"/>
            <result property="opmethod" column="opmethod" jdbcType="VARCHAR"/>
            <result property="opdate" column="opdate" jdbcType="TIMESTAMP"/>
            <result property="opres" column="opres" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        opid,oprole,opmethod,
        opdate,opres
    </sql>
</mapper>
