<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.clouddisk.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.example.clouddisk.entity.User">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="realname" column="realName" jdbcType="VARCHAR"/>
            <result property="phonenum" column="phoneNum" jdbcType="VARCHAR"/>
            <result property="idstatus" column="idStatus" jdbcType="INTEGER"/>
            <result property="userspace" column="userspace" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,username,password,
        realName,phoneNum,idStatus,
        userspace
    </sql>
    <select id="getUserList" resultType="com.example.clouddisk.entity.User">
        SELECT user.id,username,realName,phoneNum,idStatus,
               userspace FROM `user` ,`role` WHERE `user`.id =`role`.id and userole ='user'
    </select>
</mapper>
